<div class="button-main"
     data-component="button-session-details-<%= session.sessionId %>">
  <a class="button-main__link"
     data-element="button-session-details-<%= session.sessionId %>__link"
     href="<%= paths.publicPathBackEnd %>/public-sessions/<%= session.sessionId %>">
  </a>
  <button class="button-main__button button"
          data-element="button-session-details-<%= session.sessionId %>__button"
          type="button">
    Подробнее
  </button>
</div>
