<div class="button-main"
     data-component="button-speaker-details-<%= speaker.speakerId %>">
  <a class="button-main__link"
     data-element="button-speaker-details-<%= speaker.speakerId %>__link"
     href="<%= paths.publicPathBackEnd %>/public-speakers/<%= speaker.speakerId %>">
  </a>
  <button class="button-main__button button"
          data-element="button-speaker-details-<%= speaker.speakerId %>__button"
          type="button">
    Подробнее
  </button>
</div>
