<header class="header"
     data-component="header">
  <div class="header__logo-container"
       data-element="header__logo-container">
   <div class="logo"
         data-component="logo">
      <a class="logo__link"
         data-element="logo__link"
         href="<%=paths.publicPathBackEnd%>"
         tabindex="-1">
      </a>
      <button class="logo__button"
              data-element="logo__button"
              type="button"
              tabindex="1">
        <img class="logo__img"
             data-element="logo__img"
             src="<%=paths.publicPathFrontEnd%>/img/logo.svg"
             alt="logo">
      </button>
    </div>
  </div>

  <div class="header__navigation-container"
       data-element="header__navigation-container">
    <nav class="navigation-header"
         data-component="navigation-header">

      <% if (header.buttons.createSpeaker) { %>
       <div class="navigation-header__button-create-speaker-container"
            data-element="navigation-header__create-speaker-container">
         <div class="button-create-speaker button-header"
              data-component="button-create-speaker">
           <a class="button-create-speaker__link button-header__link <%=header.buttons.createSpeakerSelect%>"
              data-element="button-create-speaker__link"
              href="<%=paths.publicPathBackEnd%>/registration-speaker">
             Стать спикером
           </a>
         </div>
       </div>
      <% } %>

      <div class="navigation-header__button-speakers-container"
           data-element="navigation-header__button-speakers-container">
        <div class="button-speakers button-header"
             data-component="button-speakers">
          <a class="button-speakers__link button-header__link <%=header.buttons.speakersSelect%>"
             data-element="button-speakers__link"
             href="<%=paths.publicPathBackEnd%>/public-sessions">
            Найти спикера
          </a>
        </div>
      </div>

      <% if (header.buttons.login) { %>
        <div class="navigation-header__button-login-container"
             data-element="navigation-header__button-login-container">
          <div class="button-login button-header"
               data-component="button-login">
            <a class="button-login__link button-header__link <%=header.buttons.loginSelect%>"
               data-element="button-login__link"
               href="<%=paths.publicPathBackEnd%>/login">
              Вход
            </a>
          </div>
        </div>
      <% } %>

      <% if (header.buttons.registration) { %>
        <div class="navigation-header__button-registration-container"
             data-element="navigation-header__button-registration-container">
          <div class="button-registration button-header"
               data-component="button-registration">
            <a class="button-registration__link button-header__link <%=header.buttons.registrationSelect%>"
               data-element="button-registration__link"
               href="<%=paths.publicPathBackEnd%>/registration">
              Регистрация
            </a>
          </div>
        </div>
      <% } %>

      <% if (header.buttons.logout) { %>
        <div class="navigation-header__button-logout-container"
             data-element="navigation-header__button-logout-container">
          <div class="button-logout button-header"
               data-component="button-logout">
            <a class="button-logout__link button-header__link"
               data-element="button-logout__link"
               href="#">
              Выйти
            </a>
          </div>
        </div>
      <% } %>
    </nav>
  </div>
</header>
